@import url("//fonts.googleapis.com/css?family=Poppins:400,700");
/* line 3, ../wufoo/rustconf-wufoo.scss */
body {
  background-color: #EEEBEB;
  padding-top: 30px; }

/* line 7, ../wufoo/rustconf-wufoo.scss */
.invoice thead th, .invoice tbody th, .invoice tbody td, .invoice tfoot th, .invoice .total, .invoice tfoot .last th, .invoice tfoot .last td, .invoice tfoot th, .invoice tfoot td {
  border-color: #d2cdcc; }

/* line 10, ../wufoo/rustconf-wufoo.scss */
form.wufoo {
  margin-left: 6px;
  margin-right: 6px; }

/* line 14, ../wufoo/rustconf-wufoo.scss */
.wufoo {
  font-family: Poppins, sans-serif; }

/* line 17, ../wufoo/rustconf-wufoo.scss */
div#container {
  width: 96%;
  max-width: 860px; }

/* line 21, ../wufoo/rustconf-wufoo.scss */
.wufoo li {
  width: 100%; }

/* line 24, ../wufoo/rustconf-wufoo.scss */
h1#logo {
  margin: 0 auto;
  width: 142px;
  /* 142px */
  height: 87px;
  /* 87px */
  display: block;
  background-image: url("https://emberconf-2016.herokuapp.com/wufoo/emberconf-logo.png");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://emberconf-2016.herokuapp.com/wufoo/emberconf-logo.png', sizingMethod='scale');
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 30px; }
  @media screen and (min-width: 767px) {
    /* line 24, ../wufoo/rustconf-wufoo.scss */
    h1#logo {
      width: 173px;
      height: 106px; } }

/* line 41, ../wufoo/rustconf-wufoo.scss */
header#header.info h2,
.confirm h2 {
  font-weight: 700;
  color: #30221F;
  font-size: 26px;
  line-height: 30px;
  margin-left: 0;
  margin-right: 0;
  padding: 8px 0 0; }
  @media screen and (min-width: 380px) {
    /* line 41, ../wufoo/rustconf-wufoo.scss */
    header#header.info h2,
    .confirm h2 {
      font-size: 34px;
      line-height: 38px; } }
  @media screen and (min-width: 767px) {
    /* line 41, ../wufoo/rustconf-wufoo.scss */
    header#header.info h2,
    .confirm h2 {
      font-size: 50px;
      line-height: 56px;
      letter-spacing: -1px; } }

/* line 60, ../wufoo/rustconf-wufoo.scss */
header#header.info h2 {
  text-align: left; }

/* line 63, ../wufoo/rustconf-wufoo.scss */
.confirm h2 {
  text-align: center; }

/* line 66, ../wufoo/rustconf-wufoo.scss */
header#header.info div,
p.success-message {
  font-weight: 400;
  color: #695E5C;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px; }
  @media screen and (min-width: 380px) {
    /* line 66, ../wufoo/rustconf-wufoo.scss */
    header#header.info div,
    p.success-message {
      font-size: 21px;
      line-height: 30px; } }
  @media screen and (min-width: 767px) {
    /* line 66, ../wufoo/rustconf-wufoo.scss */
    header#header.info div,
    p.success-message {
      font-size: 26px;
      line-height: 34px; } }

/* line 82, ../wufoo/rustconf-wufoo.scss */
header#header.info div {
  text-align: left; }

/* line 85, ../wufoo/rustconf-wufoo.scss */
p.success-message {
  text-align: center; }

/* line 88, ../wufoo/rustconf-wufoo.scss */
p.success-message a,
p.back-home a {
  text-decoration: underline;
  color: #9E928E; }

/* line 93, ../wufoo/rustconf-wufoo.scss */
p.back-home {
  margin-top: 35px;
  text-align: center; }

/* line 97, ../wufoo/rustconf-wufoo.scss */
p.back-home a {
  font-size: 16px;
  line-height: 22px; }

/* line 101, ../wufoo/rustconf-wufoo.scss */
p.success-message a:hover,
p.back-home a:hover {
  color: #695E5C; }

/* line 105, ../wufoo/rustconf-wufoo.scss */
form li {
  padding-top: 15px;
  padding-bottom: 30px; }

/* line 109, ../wufoo/rustconf-wufoo.scss */
.wufoo .section h3,
#payment .section h3 {
  font-weight: 700;
  font-size: 16px;
  color: #30221F;
  padding-top: 34px; }
  @media screen and (min-width: 380px) {
    /* line 109, ../wufoo/rustconf-wufoo.scss */
    .wufoo .section h3,
    #payment .section h3 {
      font-size: 21px;
      line-height: 30px; } }
  @media screen and (min-width: 767px) {
    /* line 109, ../wufoo/rustconf-wufoo.scss */
    .wufoo .section h3,
    #payment .section h3 {
      font-size: 26px;
      line-height: 34px; } }

/* line 124, ../wufoo/rustconf-wufoo.scss */
.wufoo .section div {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #9E928E; }
  @media screen and (min-width: 767px) {
    /* line 124, ../wufoo/rustconf-wufoo.scss */
    .wufoo .section div {
      font-size: 16px; } }

/* line 133, ../wufoo/rustconf-wufoo.scss */
.leftLabel .desc, .rightLabel .desc {
  width: 100%; }
  @media screen and (min-width: 767px) {
    /* line 133, ../wufoo/rustconf-wufoo.scss */
    .leftLabel .desc, .rightLabel .desc {
      width: 31%; } }

/* line 139, ../wufoo/rustconf-wufoo.scss */
.leftLabel li div, .rightLabel li div {
  width: 100%; }
  @media screen and (min-width: 767px) {
    /* line 139, ../wufoo/rustconf-wufoo.scss */
    .leftLabel li div, .rightLabel li div {
      width: 65%; } }

/* line 145, ../wufoo/rustconf-wufoo.scss */
form li.complex div span.left, form li.complex div span.right {
  width: 100%; }
  @media screen and (min-width: 767px) {
    /* line 145, ../wufoo/rustconf-wufoo.scss */
    form li.complex div span.left, form li.complex div span.right {
      width: 48%; } }

/* line 151, ../wufoo/rustconf-wufoo.scss */
#errorMsgLbl {
  color: #E34E32 !important;
  font-size: 16px;
  line-height: 21px; }

/* line 156, ../wufoo/rustconf-wufoo.scss */
#errorLi {
  border: 1px solid #9E928E;
  padding: 12px; }

/* line 160, ../wufoo/rustconf-wufoo.scss */
#errorMsg b {
  color: #E34E32 !important; }

/* line 163, ../wufoo/rustconf-wufoo.scss */
#expMonth {
  width: 134px; }

/* line 166, ../wufoo/rustconf-wufoo.scss */
#payment .desc:first-child {
  margin-bottom: 20px; }
  @media screen and (min-width: 767px) {
    /* line 166, ../wufoo/rustconf-wufoo.scss */
    #payment .desc:first-child {
      margin-bottom: 0; } }

/* line 172, ../wufoo/rustconf-wufoo.scss */
#ccSection img {
  cursor: default; }

/* line 175, ../wufoo/rustconf-wufoo.scss */
form li.error {
  background: #ECCCC6 !important; }

/* line 178, ../wufoo/rustconf-wufoo.scss */
form li.error .desc,
#payment .error .desc strong,
form span.req {
  color: #E34E32 !important; }

/* line 183, ../wufoo/rustconf-wufoo.scss */
.wufoo label.choice {
  font-weight: 400;
  font-size: 16px;
  color: #695E5C; }

/* line 188, ../wufoo/rustconf-wufoo.scss */
#errorMsg {
  color: #584D4B !important; }

/* line 191, ../wufoo/rustconf-wufoo.scss */
li.total {
  display: none; }
  @media screen and (min-width: 600px) {
    /* line 191, ../wufoo/rustconf-wufoo.scss */
    li.total {
      display: list-item; } }

/* line 197, ../wufoo/rustconf-wufoo.scss */
input#saveForm,
.wufoo input.btTxt {
  font-weight: 700;
  padding: 8px 20px;
  background-color: #4AA0B8;
  font-family: Poppins, sans-serif;
  color: #fff;
  border: none;
  cursor: pointer;
  -webkit-appearance: none; }

/* line 208, ../wufoo/rustconf-wufoo.scss */
form li div label, form li span label {
  padding-top: 5px; }

/* line 211, ../wufoo/rustconf-wufoo.scss */
.tier-1500 fieldset div span:last-child label::after,
.tier-1000 fieldset div span:first-child label::after,
.tier-1000 fieldset div span:nth-child(2) label::after,
.tier-1000 fieldset div span:nth-child(3) label::after,
.tier-1000 fieldset div span:last-child label::after {
  font-size: 12px;
  color: #9E928E;
  position: relative;
  display: block !important;
  line-height: 16px; }

/* line 222, ../wufoo/rustconf-wufoo.scss */
.wufoo li div, .wufoo li span, .wufoo li div label, .wufoo li span label {
  font-size: 12px;
  color: #695E5C; }

/* line 226, ../wufoo/rustconf-wufoo.scss */
#payment .desc strong {
  font-size: 12px;
  color: #9E928E; }

/* line 230, ../wufoo/rustconf-wufoo.scss */
.tier-1500 fieldset div span:last-child label::after {
  content: "Sponsor provides bags; package sponsors only."; }

/* line 233, ../wufoo/rustconf-wufoo.scss */
.tier-1000 fieldset div span:first-child label::after {
  content: "Sponsor a single speaker."; }

/* line 236, ../wufoo/rustconf-wufoo.scss */
.tier-1000 fieldset div span:nth-child(2) label::after {
  content: "Sponsor a single session."; }

/* line 239, ../wufoo/rustconf-wufoo.scss */
.tier-1000 fieldset div span:nth-child(3) label::after {
  content: "Sponsor a single student."; }

/* line 242, ../wufoo/rustconf-wufoo.scss */
.tier-1000 fieldset div span:last-child label::after {
  content: "Sponsor provides lanyards; package sponsors only."; }

/* line 246, ../wufoo/rustconf-wufoo.scss */
#lola {
  width: 33%;
  display: none; }
  @media screen and (min-width: 767px) {
    /* line 246, ../wufoo/rustconf-wufoo.scss */
    #lola {
      display: block; } }

/* line 253, ../wufoo/rustconf-wufoo.scss */
#lola tbody span {
  font-size: 26px;
  font-weight: 700;
  color: #30221F; }

/* line 258, ../wufoo/rustconf-wufoo.scss */
#lola tfoot th, #lola tfoot td {
  font-size: 12px;
  font-weight: 400; }

/* line 262, ../wufoo/rustconf-wufoo.scss */
em, b {
  font-weight: 400;
  font-style: normal; }

/* line 266, ../wufoo/rustconf-wufoo.scss */
.invoice tbody th,
.invoice table,
.invoice tbody th em {
  font-size: 16px;
  line-height: 21px;
  color: #584D4B;
  text-align: left !important; }

/* line 274, ../wufoo/rustconf-wufoo.scss */
.invoice table {
  margin-top: 15px; }

/* line 277, ../wufoo/rustconf-wufoo.scss */
#ppSection span.first {
  margin-top: -6px; }

/* line 280, ../wufoo/rustconf-wufoo.scss */
#ppSection label {
  font-weight: 400; }

/* line 283, ../wufoo/rustconf-wufoo.scss */
form li.complex div span.left, form li.complex div span.right,
form li.complex div span.full {
  overflow: hidden; }

/* line 287, ../wufoo/rustconf-wufoo.scss */
.invoice thead th, .wufoo .checkNotice {
  background: none;
  font-size: 13px;
  font-weight: 700;
  color: #30221F; }

/* line 293, ../wufoo/rustconf-wufoo.scss */
tr.last th {
  color: #30221F; }

/* line 296, ../wufoo/rustconf-wufoo.scss */
#payment .desc {
  font-weight: 700;
  font-size: 16px;
  color: #30221F; }

/* line 301, ../wufoo/rustconf-wufoo.scss */
.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file {
  font-size: 16px;
  border: 0;
  background-color: white;
  background-image: none;
  padding: 4px 6px;
  color: #584D4B;
  box-sizing: border-box; }

/* line 310, ../wufoo/rustconf-wufoo.scss */
#payment .section div,
.invoice th, .invoice td {
  font-size: 16px;
  color: #584D4B;
  line-height: 21px; }

/* line 316, ../wufoo/rustconf-wufoo.scss */
#ppSection {
  margin-top: 20px; }

/* line 319, ../wufoo/rustconf-wufoo.scss */
#ppSection img {
  cursor: default; }

/* line 322, ../wufoo/rustconf-wufoo.scss */
.wufoo #lola {
  background: rgba(255, 255, 255, 0.75); }

/* line 325, ../wufoo/rustconf-wufoo.scss */
#ccSection {
  background: #E9E6E6; }

/* line 328, ../wufoo/rustconf-wufoo.scss */
.confirm h2:first-child {
  display: none; }

/* line 331, ../wufoo/rustconf-wufoo.scss */
.noI .leftLabel .buttons, .noI .rightLabel .buttons {
  padding-left: 0; }
  @media screen and (min-width: 767px) {
    /* line 331, ../wufoo/rustconf-wufoo.scss */
    .noI .leftLabel .buttons, .noI .rightLabel .buttons {
      padding-left: 31%; } }

/* line 337, ../wufoo/rustconf-wufoo.scss */
.noI .leftLabel .buttons div, .noI .rightLabel .buttons div {
  margin: 0 0 0 1%; }
  @media screen and (min-width: 767px) {
    /* line 337, ../wufoo/rustconf-wufoo.scss */
    .noI .leftLabel .buttons div, .noI .rightLabel .buttons div {
      margin: 0 0 0 17px; } }

/* line 344, ../wufoo/rustconf-wufoo.scss */
#merchantMessageText {
  font-size: 12px;
  width: 80%;
  margin: 40px auto 0; }

/* line 349, ../wufoo/rustconf-wufoo.scss */
#merchant .info::before {
  content: '';
  display: block;
  margin: 10px auto 10px;
  width: 48px;
  height: 48px;
  background-image: url("https://emberconf-2016.herokuapp.com/wufoo/emberconf-loader.gif"); }

/* line 360, ../wufoo/rustconf-wufoo.scss */
.protected input.text {
  width: 100%;
  max-width: 380px; }
