---
title: About RustConf
---

<div class="container">

	<h1>About RustConf</h1>

	<p>RustConf will be a gathering of both Rust's established community and its newcomers. We're excited to all get to spend time together, deep-diving into all things Rust.</p>
		

			<p>
				RustConf will be held in Portland, Oregon at the beautiful <a href="https://www.thenines.com/">Nines Hotel</a> in the heart of downtown Portland.
			</p>
	<hr>

	<h2>On-Site Staff.</h2>

	<div class="center">
	<figure class="spkFig">
		<img class="spkHead" src="images/speakers/about-leah.jpg" alt="Leah Silber">
		<figcaption>Leah Silber</figcaption>
	</figure>
	<figure class="spkFig">
		<img class="spkHead" src="images/speakers/about-zulaica.jpg" alt="David Zulaica">
		<figcaption>David Zulaica</figcaption>
	</figure>
	<figure class="spkFig">
		<img class="spkHead" src="images/speakers/about-kingwhatevsleft.jpg" alt="Justin Sheets">
		<figcaption>Justin Sheets</figcaption>
	</figure>
	</div>

	<p>These are the people to look for on-site if you need help, have a question, have a CoC concern, or really anything at all. They'll be wearing TBD brightly colored shirts, which we'll point out in the opening keynote.</p>

	<hr>

	<h2 id="conduct">Code of Conduct</h2>

	<div class="coc">
		<p>
			RustConf is intended to be an inclusive, welcoming conference for everyone. In particular, we do not tolerate harassment of conference participants in any form. Conference participants violating these rules may be sanctioned or expelled from the conference at the discretion of the conference organizers.
		</p>
		<p>
			Harassment includes disparaging verbal comments related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age, or religion; sexual images in public spaces; deliberate intimidation; stalking; sustained disruption of talks or other events; inappropriate physical contact; and unwelcome sexual attention. Participants asked to stop any harassing behavior are expected to comply immediately.
		</p>
		<p>
			If a participant engages in harassing behavior, the conference organizers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately.
		</p>
		<p>
			Read through <a href="https://www.rust-lang.org/conduct.html">the Rust Project Community Guidelines</a> for a more detailed overview of the intent and goals of the Rust community at large.</p>
		</p>
		<p>
			On-site, conference staff will be identifiable by their differently colored badges and tshirts (we'll update this closer to the show with the specific colors). If you need help of any kind, to report a bad situation, or anything else not specified that we can help with, please find us on site. For less urgent matters, or advance matters, <a href="mailto:events@tilde.io">we can be reached via email</a>.
		</p>
	</div>

</div>
