---
title: About RustConf
---

<div class="container">

	<h1>About RustConf</h1>

	<p>RustConf will be a gathering of both Rust's established community and its newcomers. We're excited to all get to spend time together, deep-diving into all things Rust.</p>
		

			<p>
				RustConf will be held in Portland, Oregon at the beautiful <a href="https://www.thenines.com/">Nines Hotel</a> in the heart of downtown Portland.
			</p>
	<hr>

	<h2>Organizers</h2>

	<div class="center">
		<img class="spkHead" src="images/speakers/home-leah.jpg">
		<!-- <img class="spkHead" src="/images/speakers/home-jamie.jpg"> -->
		<img class="spkHead" src="images/speakers/home-crystal.jpg">
	</div>

	<p>Leah and Crystal are on the ground in Portland. They'll both be on-site at RustConf; do say hullo, and reach out to them in advance of or during the show if you need anything!</p>

	<hr>

	<h2 id="conduct">Code of Conduct</h2>

	<div class="coc">
		<p>
			RustConf is intended to be an inclusive, welcoming conference for everyone. In particular, we do not tolerate harassment of conference participants in any form. Conference participants violating these rules may be sanctioned or expelled from the conference at the discretion of the conference organizers.
		</p>
		<p>
			Harassment includes disparaging verbal comments related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age, or religion; sexual images in public spaces; deliberate intimidation; stalking; sustained disruption of talks or other events; inappropriate physical contact; and unwelcome sexual attention. Participants asked to stop any harassing behavior are expected to comply immediately.
		</p>
		<p>
			If a participant engages in harassing behavior, the conference organizers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately.
		</p>
		<p>
			Read through <a href="https://www.rust-lang.org/conduct.html">the Rust Project Community Guidelines</a> for a more detailed overview of the intent and goals of the Rust community at large.</p>
		</p>
		<p>
			On-site, conference staff will be identifiable by their differently colored badges and tshirts (we'll update this closer to the show with the specific colors). If you need help of any kind, to report a bad situation, or anything else not specified that we can help with, please find us on site. For less urgent matters, or advance matters, <a href="mailto:events@tilde.io">we can be reached via email</a>.
		</p>
	</div>

<!--
	<hr>

	<h2>Staying in Portland</h2>

	<p>
		For ground transportation, in addition to hailing cabs, Uber is a great option. <a href="https://www.uber.com/invite/uberTechConf">Use this link</a> or promo code ​<em>uberTechConf​</em> to save up to $20 off your first ride.
	</p>

	<p>
		There's no reserved hotel block for RustConf, but there are a number of both affordable and pricey hotels nearby (including The Nines), and <a href="www.airbnb.com/c/lsilber1?s=8">AirBnb</a> is a great option too. Some of the hotels we've been recommended:
	</p>

	<h4 class="hname"><a href="http://www.thenines.com/">The Nines Hotel</a> ($$)</h4>

	<img class="hotel" src="/images/hotels/hotel-nines.jpg">

	<p class="hp">The Nines Hotel is upscale Portland trendy. It doesn't get more convnient than being an elevator ride away from the conference, so if it's in your budget, we recommend it. You can use <strong>this discount code</strong> for 15% off. It's centrally located, within walking distance of numerous food carts and restaurants.</p>

	<h4 class="hname"><a href="http://www.portlandparamount.com/">Paramount Hotel</a> ($)</h4>

	<img class="hotel" src="/images/hotels/hotel-paramount.jpg">

	<p class="hp">The Paramount Hotel is a short walk from The Nines and a similarly cozy boutique-style hotel. Like The Nines it has some great restaurants on-site, and is conveniently located to both the conference and downtown attractions.</p>
-->
</div>
