---
title: RustConf 2017
---

<div class="container">

	<!-- Testing Mailchimp here -->

	<section>
	<div class="row">
		<style>
			#mc_embed_signup div.mce_inline_error {
				color: #e34e32;
				background: none;
				padding: 1em 0 0;
				margin: 0;
			}
			#mce-responses {
				line-height: 1.5em;
				color: #30221F;
			}
			#mce-responses a {
				text-decoration: underline;
			}
			#mce-responses a:hover {
				color: #30221F;
			}
		</style>
		<div class="medium-11 medium-centered large-10 large-centered columns" id="mc_embed_signup">
			<h2>Join the Third Annual RustConf</h2>

			Dates and venue to be announced soon!

		</div>

</div>
