---
title: RustConf 2018
---

<div class="container">

	<!-- Testing Mailchimp here -->

	<section>
	<div class="row">
		<style>
			#mc_embed_signup div.mce_inline_error {
				color: #e34e32;
				background: none;
				padding: 1em 0 0;
				margin: 0;
			}
			#mce-responses {
				line-height: 1.5em;
				color: #30221F;
			}
			#mce-responses a {
				text-decoration: underline;
			}
			#mce-responses a:hover {
				color: #30221F;
			}
		</style>
		<div class="medium-11 medium-centered large-10 large-centered columns">
			<h2>Join the Third Annual RustConf</h2>


			<p>
				We'll host 350+ friends from Rust's worldwide community for talks, socializing and learning. The conference is <strong>August 17th, 2018</strong>, and come out a day early for a <a href="/training.html">bonus day of opt-in training</a> from the Rust team on August 16th!
			</p>


			<p>
				Talks are being announced! Check <a href="program.htm">the program page</a> periodically for updates, or follow <a href="https://twitter.com/rustconf">@rustconf</a> on Twitter!
			</p>		
<hr>
			<p> <b><a href="register.html">Tickets are on sale!</a></b> </p>
			<hr />

			<h2>Hosted at The Oregon Convention Center</h2>

			<p>
				The second RustConf will be held at the <a href="https://www.oregoncc.org/">Oregon Convention Center</a> in Portland, Oregon.
			</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11180.3896981705!2d-122.661645!3d45.528245!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x610cf37babf5b9df!2sOregon+Convention+Center!5e0!3m2!1sen!2sus!4v1525388287862" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>




<!--End mc_embed_signup-->

		</div>

</div>
