---
title: RustConf 2018
---

<div class="container">

	<!-- Testing Mailchimp here -->

	<section>
	<div class="row">
		<style>
			#mc_embed_signup div.mce_inline_error {
				color: #e34e32;
				background: none;
				padding: 1em 0 0;
				margin: 0;
			}
			#mce-responses {
				line-height: 1.5em;
				color: #30221F;
			}
			#mce-responses a {
				text-decoration: underline;
			}
			#mce-responses a:hover {
				color: #30221F;
			}
		</style>
		<div class="medium-11 medium-centered large-10 large-centered columns">
			<h2>Join the Third Annual RustConf</h2>

			<div>
				<img class="spkHead y2016" src="/images/speakers/niko.jpg">
				<img class="spkHead y2016" src="/images/speakers/catherine.png">
				<img class="spkHead y2016" src="/images/speakers/ashley.jpg">
				<img class="spkHead y2016" src="/images/speakers/aaron.jpg">
			</div>

			<p>
				We'll host 350+ friends from Rust's worldwide community for talks, socializing and learning.
				The conference is <strong>August 17th, 2018</strong>, and come out a day early for a
				<a href="/training.html">bonus day of opt-in training</a> from the Rust team on August 16th!
			</p>


			<p>
				<a href="program.html">Talks have been announced!</a>
			</p>		
<hr>
			<p> <b><a href="register.html">Tickets are on sale!</a></b> </p>
			<hr />

			<h2>Hosted at The Oregon Convention Center</h2>

			<p>
				The third RustConf will be held at the <a href="https://www.oregoncc.org/">Oregon Convention Center</a> in Portland, Oregon.
			</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11180.3896981705!2d-122.661645!3d45.528245!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x610cf37babf5b9df!2sOregon+Convention+Center!5e0!3m2!1sen!2sus!4v1525388287862" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>


</div>


<div class="row">
				<h2>Hotels</h2>


<style>
	.hotels {
		margin: 0 auto;
		text-align: center;
	}
	.hotels .hotel2 {
		display: inline-block;
		width: 400px;
		height: 600px;
		margin-left: 10px;
		margin-right: 10px;
		vertical-align: text-top;
	}


	.hotels .img {
		width: 400px;
		height: 300px;
		background-position: center;
		background-size: 500px auto;
		background-repeat: no-repeat;
		position: relative;
		top: 0px;
	}



	.hotels .rate:before {
		content: "Rate: ";
		font-weight: bold;
	}
	.hotels .group:before {
		content: "Group Name: ";
		font-weight: bold;
	}
	.hotels .phone:before {
		content: "Phone: ";
		font-weight: bold;
	}

	.hotels .name {
		text-transform: uppercase;
		font-weight: bold;
		font-size: larger;
	}

	.hotels .book a {
		font-size: larger;
	}
</style>

<hr>

<div class="hotels">
		<div class="hotel2">
			<a href="https://hoteleastlund.webhotel.microsdc.us/bp/availStart.jsp?groupCode=RUSTCONF&checkinYear=2018&checkinDay=16&checkinMonth=8&numberOfNights=1&numberOfRooms=1&numberOfAdults=1&numberOfChildren=0&owsLanguageCode=EN">
			<div class=img style="background-image: url(images/hotels/hotel-eastlund.jpg)">	
			</div></a>
			<br>
			<div class=name>Hotel Eastlund</div>
			<div class=address>1021 NE Grand Ave, Portland, OR 97232</div><br>
			<div class=rate>$219 + tax</div>
			<div class=group>RustConf 2018</div>
			<div class=phone> +1 503-235-2100</div><br>
			<div class=book>
				<a href="https://hoteleastlund.webhotel.microsdc.us/bp/availStart.jsp?groupCode=RUSTCONF&checkinYear=2018&checkinDay=16&checkinMonth=8&numberOfNights=1&numberOfRooms=1&numberOfAdults=1&numberOfChildren=0&owsLanguageCode=EN">
					Book Now!
				</a>
			</div>
		</div>
		<div class="hotel2">
			<a href="https://www.groupon.com/hotels/portland-or-us/doubletree-hotel-portland">
			<div class=img style="background-image: url(images/hotels/hotel-doubletree.jpg)">
				
			</div></a>
			<br>
			<div class=name>DoubleTree Hotel</div>
			<div class=address>1000 NE Multnomah St, Portland, OR 97232</div><br>
			<div class=rate>$209 + tax</div>
			<div class=group>RustConf 2018</div>
			<div class=phone>+1 503-281-6111</div><br>
			<div class=book>
				(direct book link coming soon)
			</div>
		</div>
</div>
<!--End mc_embed_signup-->

		</div>

</div>
