---
title: RustConf 2017
---

<div class="container">

	<!-- Testing Mailchimp here -->

	<section>
	<div class="row">
		<style>
			#mc_embed_signup div.mce_inline_error {
				color: #e34e32;
				background: none;
				padding: 1em 0 0;
				margin: 0;
			}
			#mce-responses {
				line-height: 1.5em;
				color: #30221F;
			}
			#mce-responses a {
				text-decoration: underline;
			}
			#mce-responses a:hover {
				color: #30221F;
			}
		</style>
		<div class="medium-11 medium-centered large-10 large-centered columns" id="mc_embed_signup">
			<h2>Join the Second Annual RustConf</h2>

			<div>
				<img class="spkHead y2016" src="/images/speakers/niko.jpg">
				<img class="spkHead y2016" src="/images/speakers/joe.jpg">
				<img class="spkHead y2016" src="/images/speakers/carol.jpg">
				<img class="spkHead y2016" src="/images/speakers/aaron.jpg">
			</div>

			<p>
				Rust core team members Niko Matsakis, Carol Nichols, and Aaron Turon will be headlining, with Joe Duffy keynoting, and an amazing roster of your favorite familiar and new faces in the Rust community!
			</p>

			<p>
				We'll host 250+ friends from Rust's worldwide community for talks, socializing and learning. The conference is <strong>August 19th, 2017</strong>, and come out a day early for a <a href="/training.html">bonus day of opt-in training</a> from the Rust core team on August 18th!
			</p>

			<div class="center">
				<a href="/program.html"><button class="mainButton">
					Meet More Speakers
				</button></a>
			</div>

			<hr />

			<h2>Hosted at The Nines Hotel</h2>

			<p>
				The second RustConf will be held at the beautiful <a href="http://www.starwoodhotels.com/preferredguest/room.html?sortOrder=&propertyId=1757&corporateAccountNumber=388079&refPage=predecider&accessible=&ctx=search&priceMin=&priceMax=&bedType=&rp=SN%3A388079%2C%2C%2C&nonSmoking=">Nines Hotel</a> in the heart of downtown Portland.
			</p>
			<small>(The link here includes a 15% discount, too.)</small>


		</div>

		</section>
					<div id="map-canvas">
			</div>
</div>
