---
title: RustConf Program
---

<div class="container">

	<h1>Speakers</h1>

	<p>
		More 2016 Speakers To Be Announced shortly!
	</p>

	<table class="center">
		<tr>
			<td><img class="spkPic" src="/images/speakers/Yehuda.jpg"></td>
			<td><img class="spkPic" src="/images/speakers/Tom.jpg"></td>
			<td><img class="spkPic" src="/images/speakers/Lauren.jpg"></td>
		</tr>
		<tr>
			<td><a href="https://twitter.com/wycats">Yehuda Katz</a></td>
			<td><a href="https://twitter.com/tomdale">Tom Dale</a></td>
			<td><a href="https://twitter.com/sugarpirate_">Lauren Tan</a></td>
		</tr>
		<tr>
			<td><img class="spkPic" src="/images/speakers/Erik.jpg"></td>
			<td><img class="spkPic" src="/images/speakers/Leonie.jpg"></td>
			<td><img class="spkPic" src="/images/speakers/Marco.jpg"></td>
		</tr>
		<tr>
			<td><a href="https://twitter.com/ebryn">Erik Bryn</a></td>
			<td><a href="https://twitter.com/LeonieWatson">Léonie Watson</a></td>
			<td><a href="https://twitter.com/marcoow">Marco Otte-Witte</td>
		</tr>
		<tr>
			<td><img class="spkPic" src="/images/speakers/Robert.jpeg"></td>
			<!-- <td><img class="spkPic" src="/images/speakers/Miguel.jpg"></td> -->
			<td><img class="spkPic" src="/images/speakers/Jamie.jpg"></td>
		</tr>
		<tr>
			<td><a href="https://twitter.com/rwjblue">Robert Jackson</a></td>
			<!-- <td><a href="https://twitter.com/miguelcamba">Miguel Camba</a></td> -->
			<td><a href="https://twitter.com/jgwhite">Jamie White</a> (Emcee)</td>
		</tr>
		<tr>
			<td><img class="spkPic" src="/images/speakers/Alex.jpg"></td>
			<td><img class="spkPic" src="/images/speakers/Aaron.jpg"></td>
			<td><img class="spkPic" src="/images/speakers/Gavin.jpg"></td>
		</tr>
		<tr>
			<td><a href="https://twitter.com/alexspeller">Alex Speller</a></td>
			<td><a href="https://twitter.com/grandazz">Aaron Chambers</a></td>
			<td><a href="https://twitter.com/gavinjoyce">Gavin Joyce</a></td>
		</tr>

	</table>
</div>
