---
title: RustConf Program
---

<div class="container">

	<h1>Speakers</h1>

	<table class="center">
		<% data.program.in_groups_of(3) do |speakers| %>
			<tr>
				<% speakers.each do |s| %>
					<td>
						<%= image_tag "speakers/#{s.image}", class: "spkPic1"%>
					</td>
				<% end %>
			</tr>
			<tr>
				<% speakers.each do |s| %>
					<td>
						<%= link_to s.name, "http://www.twitter.com/#{s.twitter}", class: "spkName" %>
					</td>
				<% end %>
			</tr>
		<% end %>
	</table>

	<h4>...along with <em>Without Boats</em>, <em>Colin O'Brien</em> and our Lightning Talk speakers.</h4>

	<h1>The Talks</h1>


</div>
