---
title: Register for RustConf
---

<div class="container">

  <h1>Get Your Tickets</h1>

  <div style="width:100%; text-align:left;" ><iframe  src="//eventbrite.com/tickets-external?eid=25658921525&ref=etckt" frameborder="0" height="510" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ></div></div>

  <h3>Refunds and Transfers</h3>

  <div class="coc">
    <ul>
      <li>
        Refunds on Conference tickets are available until July 31, 2016, 11:59pm PST. After that, tickets can only be transferred.
      </li>
      <li>
        Trainings are non-refundable, but <em>are</em> transferrable. To transfer tickets from one Training to another, use the default Eventbrite UI.
      </li>
      <li>
        The deadline for all ticket transfers is August 15, 2016, 11:59pm PST.
      </li>
      <li>
        To request a transfer, <a href="mailto:events@tilde.io?subject=RustConf Transfer Request">email the team the following details about the replacement attendee</a>, from the email address of either the ticket purchaser or holder:
        <ul>
          <li>
            Full Name
          </li>
          <li>
            Email Address
          </li>
          <li>
            GitHub username
          </li>
          <li>
            Dietary restrictions
          </li>
          <li>
            Tshirt size (can only be adjusted 30 days prior to the conference)
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <h3>FAQs</h3>

  <div class="coc">
    <ul>
      <% data.faq.each do |question| %>
      <li class="question">
        <%= question.q %>
      </li>
      <li class="answer">
        <%= question.a %>
      </li>
      <% end %>
    </ul>
  </div>

</div>
