---
title: Register for RustConf
---

<div class="container">
  <h1>Get Your Tickets</h1>


  <p>
  RustConf 2018 is <strong>Friday, August 17th</strong>, in Portland, OR at the Oregon Convention Center with an optional Training Day on Thursday, August 16th.
  You can find a list of the trainings (workshops) <a href="training.html">here</a>, and the talks <a href="program.html">here</a>.

  <p style="font-size: 110%; font-family: serif;">If you're interested in signing up for <b><a href="training.html#rustbridge">RustBridge</a></b>, please fill in <a href="https://docs.google.com/forms/d/e/1FAIpQLSesmO1BBSIoGyfUErjRfwtYhhRhFneGWkyeDSXg_-oAbzuh0A/viewform">this form</a>.</p>

  <br>
  </p>

  <div style="width:100%; text-align:left;" ><iframe  src="//eventbrite.com/tickets-external?eid=45962721738&ref=etckt" frameborder="0" height="1200" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ></div></div>

  <h3>Refunds and Transfers</h3>

  <div class="coc">
    <ul>
      <li>
        Refunds on Conference tickets are available until July 19, 2018, 11:59pm PST. After that, tickets can only be transferred.
      </li>
      <li>
        The deadline for all ticket transfers is July 31, 2018, 11:59pm PST.
      </li>
      <li>
        Trainings are non-refundable, but <em>are</em> transferrable.
      </li>
      <li>
        To request transfers of training sessions or to transfer your ticket to someone else,  <a href="mailto:events@tilde.io?subject=RustConf Transfer Request">email the team the following details about the replacement attendee</a>, from the email address of either the ticket purchaser or holder:
        <ul>
          <li>
            Full Name
          </li>
          <li>
            Email Address
          </li>
          <li>
            GitHub username
          </li>
          <li>
            Dietary restrictions
          </li>
          <li>
            Tshirt size (can only be adjusted 30 days prior to the conference)
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <h3>FAQs</h3>

  <div class="coc">
    <ul>
      <% data.faq.each do |question| %>
      <li class="question">
        <%= question.q %>
      </li>
      <li class="answer">
        <%= question.a %>
      </li>
      <% end %>
    </ul>
  </div>

</div>
