---
title: Register for RustConf
---

<div class="container">

  <h1>Get Your Tickets</h1>

 (Coming soon)

  <h3>FAQs</h3>

  <div class="coc">
    <ul>
      <% data.faq.each do |question| %>
      <li class="question">
        <%= question.q %>
      </li>
      <li class="answer">
        <%= question.a %>
      </li>
      <% end %>
    </ul>
  </div>

</div>
