---
title: Register for RustConf
---

<div class="container">

  <p>
  RustConf 2018 is <strong>Friday, August 17th</strong>, in Portland, OR with an optional Training Day on Thursday, August 16th.
  You can find a list of the trainings <a href="training.html">here</a>, and some of the talks <a href="program.html">here</a>.
  Not all talks have been announced yet, we're expecting 16 talks total, split into two tracks..<br>
  </p>

  <h3>FAQs</h3>

  <div class="coc">
    <ul>
      <% data.faq.each do |question| %>
      <li class="question">
        <%= question.q %>
      </li>
      <li class="answer">
        <%= question.a %>
      </li>
      <% end %>
    </ul>
  </div>

</div>
