---
title: RustConf Schedule
---

<h1>Schedule</h1>

<div>

<p>
  Our program will be available shortly. We'll follow the same format as <a href="http://rustcamp.com/schedule.html">RustCamp 2015</a>.
</p>

  <table id="schedule">
    <thead>
      <tr>
        <th width="140">TIME</th>
        <th width="400">CONTENT</th>
      </tr>
    </thead>
    <tbody>
      <tr class="special">
        <td>8:30&ndash;9:45am</td>
        <td>
          <span class="session">Registration</span>
        </td>
      </tr>
      <tr class="first">
        <td>9:45&ndash;10:00am</td>
        <td><span class="session">Welcome &amp; Announcements</span></td>
      </tr>
      <tr class="second">
        <td>10:00&ndash;10:30am</td>
        <td>
          <span class="speaker">Yehuda Katz (<a href="https://speakerdeck.com/wycats/embercamp-london-keynote-building-production-grade-web-apps-fast">Slides</a>)</span>
        </td>
      </tr>
      <tr class="first">
        <td>10:45&ndash;11:15am</td>
        <td>
          <span class="speaker">Miguel Camba (<a href="http://slides.com/miguelcamba/composable-components#/">Slides</a>)</span>
        </td>
      </tr>
      <tr class="second">
        <td>11:30&ndash;12:00pm</td>
        <td>
          <span class="speaker">Hannah Wolfe (<a href="https://speakerdeck.com/erisds/ghost-and-ember">Slides</a>)</span>
        </td>
      </tr>
      <tr class="special">
        <td>12:00&ndash;1:30pm</td>
        <td><span class="session">Lunch</span></td>
      </tr>
      <tr class="first">
        <td>1:30&ndash;2:00pm</td>
        <td>
          <span class="speaker">Matthew Beale (<a href="http://www.slideshare.net/mixonic/the-hidden-power-of-htmlbars-or-scope-in-emberjs-templates">Slides</a>)</span>
        </td>
      </tr>
      <tr class="second">
        <td>2:15&ndash;2:45pm</td>
        <td>
          <span class="speaker">Katie Gengler (<a href="https://speakerdeck.com/katiegengler/observing-ember-addons-embercamp-london-2015">Slides</a>)</span>
        </td>
      </tr>
      <tr class="first">
        <td>3:00&ndash;3:30pm</td>
        <td>
          <span class="speaker">Alex Speller (<a href="http://alexspeller.com/assets/Routing.key">Slides</a>)</span>
        </td>
      </tr>
      <tr class="special">
        <td>3:30&ndash;4:00pm</td>
        <td><span class="session">Stretch Your Legs!</span></td>
      </tr>
      <tr class="first">
        <td>4:00&ndash;4:30pm</td>
        <td>
          <span class="speaker">Gavin Joyce (<a href=" https://speakerdeck.com/gavinjoyce/scaling-ember-at-intercom-embercamp-london">Slides</a>)</span>
        </td>
      </tr>
      <tr class="second">
        <td>4:45&ndash;5:15pm</td>
        <td>
          <span class="speaker">Aaron Chambers and Luke Melia</span>
        </td>
      </tr>
      <tr class="first">
        <td>5:30&ndash;6:00pm</td>
        <td>
          <span class="speaker">Sebastian McKenzie</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
