---
title: RustConf Schedule
---

<h1>Schedule</h1>

<p>
  Trainings take place on Friday, August 18th, and the conference takes place on August 19th. <a href="../training.html">Training schedule details can be found here</a>.
</p>

<div>

  <p class="coc">
    The schedule will be available shortly.
  </p>

<!--   <table id="schedule">
    <thead>
      <tr>
        <th width="140">TIME</th>
        <th width="400">CONTENT</th>
      </tr>
    </thead>
    <tbody>
      <tr class="special">
        <td>8:30&ndash;9:45am</td>
        <td>
          <span class="session">Registration</span>
        </td>
      </tr>
      <tr class="second">
        <td>9:45&ndash;10:30am</td>
        <td>
          <p class="speaker">Opening Keynote</p><p class="byline">Aaron Turon and Niko Matsakis</p>
        </td>
      </tr>
      <tr class="first">
        <td>10:45&ndash;11:15am</td>
        <td>
          <p class="speaker">The Illustrated Adventure Survival Guide</p><p class="byline">Liz Baillie</p>
        </td>
      </tr>
      <tr class="second">
        <td>11:30&ndash;12:00pm</td>
        <td>
          <p class="speaker">Integrating Rust and VLC</p><p class="byline">Geoffroy Couprie</p>
        </td>
      </tr>
      <tr class="special">
        <td>12:00&ndash;1:30pm</td>
        <td><span class="session">Lunch</span></td>
      </tr>
      <tr class="first">
        <td>1:30&ndash;2:00pm</td>
        <td>
          <p class="speaker">The RustPlay Classifier</p><p class="byline">Suchin Gururangan and Colin O'Brien</p>
        </td>
      </tr>
      <tr class="second">
        <td>2:15&ndash;2:45pm</td>
        <td>
          <p class="speaker">Using Generics Effectively</p><p class="byline">Without Boats</p>
        </td>
      </tr>
      <tr class="first">
        <td>3:00&ndash;3:30pm</td>
        <td>
          <p class="speaker">Back to the Futures</p><p class="byline">Alex Crichton</p>
        </td>
      </tr>
      <tr class="special">
        <td>3:30&ndash;4:00pm</td>
        <td><span class="session">Snack Break</span></td>
      </tr>
      <tr class="first">
        <td>4:00&ndash;4:30pm</td>
        <td>
          <p class="speaker">A Modern Editor in Rust</p><p class="byline">Raph Levien</p>
        </td>
      </tr>
      <tr class="second">
        <td>4:45&ndash;5:15pm</td>
        <td>
          <p class="speaker">RFC: In Order to Form a More Perfect <code>union</code></p><p class="byline">Josh Triplett</p>
        </td>
      </tr>
      <tr class="first">
        <td>5:30&ndash;6:00pm</td>
        <td>
          <p class="speaker">Closing Keynote</p><p class="byline">Julia Evans</p>
        </td>
      </tr>
    </tbody>
  </table> -->
</div>
