---
title: RustConf Schedule
---


<p>RustConf 2018 is on August 16th and 17th. The <a href="training.html">trainings</a> will be on the 16th, and the <a href=program.html>talks</a> will be on the 17th.

<p>The schedule for the talks is coming soon.

<%#= partial "schedule", locals: { year: "2017" } %>