---
title: About Our Sponsors
---

<div class="container">

  <h1>Meet Our Sponsors</h1>

  <div id="footer-ribbon" class="aside ribbon">
    Gold
  </div>

  <table class="sponsor-page">
    <tr>
      <td>
        <a href="http://www.skylight.io"><img src="/images/sponsors/Logo-Skylight.png" alt="Skylight"></a>
      </td>
      <td>
        <p>
          Skylight﻿ is a smart profiler that lets you quickly diagnose and resolve performance issues with your Rails apps where it matters: in production. It's built by the fine folks at <a href="http://www.tilde.io/">Tilde Inc</a>, who have spent the last few years building open source projects like Ember, Handlebars and Rails itself. Visit <a href="http://www.skylight.io/">skylight.io</a> to start your free trial.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <a href="http://www.mozilla.com"><img src="/images/sponsors/Logo-Mozilla.png" alt="Mozilla"></a>
      </td>
      <td>
        <p>
          Mozilla is a non-profit with a mission: to ensure the Internet is a global public resource, open and accessible to all. An Internet that truly puts people first, where individuals can shape their own experience and are empowered, safe and independent.
        </p>
      </td>
    </tr>

    <tr>
      <td>
        <a href="http://www.intel.com"><img src="/images/sponsors/Logo-Intel.png" alt="Intel"></a>
      </td>
      <td>
        <p>
          We're excited about Rust for systems programming. Rust provides a unique combination of safety, performance, runtime-free operation, and C interoperability, excelling across datacenter and IoT alike. We also love Rust's welcoming and inclusive community. We're thrilled to sponsor RustConf, bringing the Rust community together here in Portland.
        </p>
      </td>
    </tr>
  </table>

  <div id="footer-ribbon" class="aside ribbon">
    Silver
  </div>

  <table class="sponsor-page">
    <tr>
      <td>
        <a href="http://www.memcachier.com"><img src="/images/sponsors/Logo-Memcachier.png" alt="Mozilla"></a>
      </td>
      <td>
        <p>
          MemCachier is an enterprise class Memcache-as-a-Service for Developers. You focus on building your app, and we manage, scale, and keep your memcache cluster up and running. Change capacity at any time without any service distruption. Tell us how much memory you need and get started for free instantly.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <a href="http://www.github.io"><img src="/images/sponsors/Logo-GitHub.png" alt="GitHub"></a>
      </td>
      <td>
        <p>
          Coming Soon!
        </p>
      </td>
    </tr>
  </table>

  <div id="footer-ribbon" class="aside ribbon">
    Scholarships
  </div>

  <p>
    The following individuals and companies generously contributed funds for our scholarship program:
  </p>
<ul>
    <li>
      Manish
    </li>
    <li>
      Martin Pool
    </li>
    <li>
      Josh Matthews
    </li>
    <li>
      ...and other anonymous donors.
    </li>
</ul>

</div>
